<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- librería axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>AJAX en VUEJS con libreria axios</title>
</head>
<body>  
        <div id = "main" class="container">
            <div class="row">
                    <h1 align="center"> Manejo de respuestas json con axios</h1>
                    <p> en este ejercicio vamos a conectarnos a una api con vuejs. Obtener los datos en formato json y listar los
                        resultados usando la directica v-for
                    </p>
                    <br>
                    <div class= "col-sm-4">
                        <h2>Lista de elementos con vueJS - ajax</h2>
                        <ul class = "list-group">
                            <li v-for="item in lists" class = "list-group-item">
                               {{ item.gender}} | {{item.name.first}} {{item.name.last}} | {{item.login.username}}

                            </li>
                        </ul>


                    </div>
                    <div class="col-sm-8">
                        <h2> Elementos en formato json</h2>
                        <p>
                            {{ $data }}
                        </p>

                    </div>


            </div>
        </div>
     
</body>
<script type = "text/javascript">
    var urlUsers = 'https://randomuser.me/api/?results=30';
    //componente de vue
    //objeto vue
    new Vue({
        //esto es lo que vincula el html con vue
        el: '#main',
        created: function(){
            this.getUsers();

        },
        data:{
            lists: []

        },
        methods:{
                getUsers:function(){
                    axios.get(urlUsers).then(response => {
                        this.lists = response.data.results
                    });
                }
            }
        


    });

</script>
</html>