<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- librería axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Eventos v-on:click v-on</title>
</head>
<body>  
        <div id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Eventos en VUEjs</h2>
                        </div>
                        <div class="col-xs-4">
                            <form v-on:submit.prevent="addName">
                                <div class="input-group">
                                    <input type="text" class="form-control" v-model="name">
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-default" value="add">
                                    </span>
                                </div>
                            </form>
                            <hr>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="item in people" v-text="item"></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <button v-on:click="num += 1">
                                {{ num }} <i class="glyphicon glyphicon-thumbs-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


     
</body>
<script type = "text/javascript">

    //componente de vue
    //objeto vue
    new Vue({
			el: '#main',
			data: {
				people: ['Lynda', 'Isabella', 'Abel', 'Diana'],
				name: '',
				num: 0,
			},
			methods: {
				addName: function (){
					this.people.unshift(this.name);
					this.people.push(this.name);
					this.name = '';
				}
			}
		});

</script>
</html>