<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Directiva v-bind (enlazar)</h1>
    <div id = "main">
        <input type="text" v-model="info">
        <p v-bind:title="info"> texto de relleno....{{ info}}</p>
        <p>
            v-bind me permite enlazar el dato, que es la variable info del input con la etiqueta p
            la directiva v-model es la que vincula el input con el dato, es por esto que el dato, info: está vacio


        </p>


    </div>
</body>

<script type = "text/javascript">

    //componente de vue
    //objeto vue
    var a = new Vue({
        //esto es lo que vincula el html con vue
        el: '#main',
        data:{
            info: ""
        }

    });

</script>
</html>