<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- librería axios-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>v-if y v-else</title>
</head>
<body>  
        <div id ="main" class="container">
            <div class="row">
                <div class="alert alert-primary" role="alert">
                        <p> En este ejercicio itilizamos las directivas v-if y v-else. Lo que realizamos concretamente es mostrar un cierto mensake
                            si la caja de texto se encuentra vacía, y otro mensaje si tiene algún contenido. 
                        </p>
                        <p> Primero que todo, conectamos la caja de texto con una variable en el objeto Vue con la directiva v-model y posteriormente 
                            desplegamos uno u otro mensaje si se cumple la condición de la directiva v-if 
                        </p>
                </div>

                <div class ="col-md-5">

                    <template v-if="!mensaje">
                        <h3> Escribe tu sugerencia</h3>
                        <h3> El equipo de soporte responde rapidamente</h3>
                        <h4> <em> podrías comunicarte por twitter</em></h4>
                    </template>

                    <h3 v-else> presiona enter</h3>
                    <br>
                    <textarea v-model ="mensaje"class="form-control">

                    </textarea>

                </div>
                <div class="col-md-7">
                    <h3> JSON </h3>
                    <pre>
                        {{ $data|json}}
                    </pre>
                </div>
            
            
            </div>   

        </div>


     
</body>
<script type = "text/javascript">

    //componente de vue
    //objeto vue
    new Vue({
        //esto es lo que vincula el html con vue
        el: '#main',
        data:{
            mensaje: ''
        }

    });

</script>
</html>